@model IEnumerable<Dominio.Models.Seleccion>

<h1>Selecciones goleadoras</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Selecciones con más goles
        </dt>

        <dd class="col-sm-10">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Pais.Nombre
                    </td>

                </tr>

            }

        </dd>

    </dl>
</div>